<!DOCTYPE HTML>

<html>

<head>
    <title>A4 movieDetail page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="top">
                <!-- need to be filled later-->
                <div class="col-sm-6">
                    <a href="movie.html">
                        <p>back</p>
                    </a>
                </div>
                <div class="col-sm-6 title">
                    <p style="text-align:right">Hobbyist</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="middle">
            <div class="col-sm-2"></div>

            <div class="col-sm-4">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjM1OTMxNzUyM15BMl5BanBnXkFtZTgwNjYzMTIzOTE@._V1_UY1200_CR90,0,630,1200_AL_.jpg" style="width:52%;height:auto"></img>
            </div>

            <div class="col-sm-6" id="middle-right">
                <h2>Movie Title</h2>
                <div class="row" id="middle-right-button">
                    <div class="col-sm-6">
                        <a href="#" data-toggle="popover" data-placement="top" data-content="after clicking, save this movie to the history">Watched</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" data-toggle="popover" data-placement="right" data-content="after clicking, delete this movie from watchlist or history">Delete</a>
                    </div>
                </div>
                <div class="row" id="movie description">
                    <div class="col-sm-8">
                        Movie description.Example:A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.
                    </div>
                </div> 
                    <p style="margin-bottom:0px">Tag</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="bottom">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <h4>Available on</h4>
                <div class="row" id="available web">
                    <div class="col-sm-2">
                        <a href="https://www.netflix.com/" target="_blank">
                            <p>Netflix</p>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a hreg="http://www.hulu.com" target="_blank">
                            <p>Hulu</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="container">
        <div class="dropup row">
            <div class="col-sm-11"></div>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Setting<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Books</a></li>
            </ul>
        </div>
    </div>-->

    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating red" href="movie.html"><i class="material-icons">theaters</i></a></li>
            <li><a class="btn-floating green" href="book.html"><i class="material-icons">book</i></a></li>
            <li><a class="btn-floating blue" href="index.html"><i class="material-icons">home</i></a></li>
        </ul>
    </div>

    <!-- materialize-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
        });
    </script>
</body>

</html>